body{
    background: black;
}
table {
    border-collapse: collapse;
    margin: 5px 10px;
}

table, th, td {
    border: 1px solid red;
    padding: 4px 6px;
}
tr:nth-child(even) {background: #ddd}
.movieData{
    display: inline-block;
}
#headline,#loading{
    color: red;
}
button{
    padding:4px;
    margin:5px 10px;
    border:2px solid green;
}
.userinfo{
    border: 1px solid red;
    padding: 4px 6px;   
}
.top-display{
    margin: 20px;
    background:#fff;
    border: 2px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 5px;
}
#page{
    text-align: center;
}#list{
    color: blue;
}
#token-display{
    visibility: hidden;
}
#list{
    display: none;
}
#movielist{
    margin-left: 5px;
}
select{
    padding:3px;
}
.click-fn{
    padding: 3px;
    display: inline-block;
    border: 1px solid #ddd;
}