table {
    border-collapse: collapse;
    margin: 5px 10px;
}

table, th, td {
    border: 1px solid red;
    padding: 4px 6px;
}
tr:nth-child(even) {background: #ddd}
.movieData{
    display: inline-block;
}
button{
    padding:4px;
    margin:5px 10px;
    border:1px solid black;
}
.userinfo{
    border: 1px solid red;
    padding: 4px 6px;   
    width:50%;
}